body {
    font-family: 'Poppins', sans-serif;
    color: white ;
    margin: 0;
    background-color: #282828;
}

.hero {
    height: 500px;
    background-image: url("header.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    text-align: center;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
}

.hero {
    position: relative;
}

.hero h1,
.hero p {
    position: relative;
    z-index: 1;
}

header {
    background: linear-gradient(135deg, #d20101, #a80000);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }

    nav a {
        display: block;
        margin: 8px 0;
    }
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    background-color: #8a0000;
    display: flex;
    justify-content: center;
    padding: 14px;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.308);
}

nav a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: 600;
    margin: 0 20px;
    padding: 6px 12px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s;
}

nav a:hover {
    background-color: rgba(255,255,255,0.2);
    color: #eeff00;
}


.foto {
    width: 150px;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background: rgb(44, 44, 44);
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    color: gray;
}
